
{% extends 'base.html' %}


{% block title %}
   About Us  
            
{% endblock title %}

{% block body %}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="50">
          <img src="media/a1.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="50">
          <h3>All the Tools You Need to Coach Your Clients</h3>
          <p class="fst-italic">
            Train clients anywhere in the world with the most powerful coaching tools at your fingertips
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Training
              Build a custom training program in minutes</li>
            <li><i class="ri-check-double-line"></i> Habit Coaching
              Keep clients engaged and accountable</li>
            <li><i class="ri-check-double-line"></i>Nutrition
              Macro Tracking and Food Journal</li>
          </ul>
          <p>
            We’ll Do the Heavy Lifting to Grow Your Personal Training Business
            Keep your clients easily on track with their fitness goals anytime and from anywhere
          </p>
        </div>
      </div>

    </div>
  </section>
  {% endblock body %}