{% extends 'base.html' %}

 
{% block title %}
   Gallery  
            
{% endblock title %}


{% block body %}
<div style="color:black; margin-right:500 px;">
<h1>FAQ</h1>
<h5>Are the awards open for entry to companies/clubs/individuals outside of the UAE?</h5>

Yes, All entries within the Middle East and North Africa will be accepted.<br><br>

<h5>Do I have to be REPS registered to submit?</h5>

No<br><br>

<h5>Is there a fee for entering any of the award categories?</h5>
 
 There is no fee for entering any of the individual categories (Personal Trainers, Instructors, etc). For the facility/business categories, there is an entry fee required. This must be paid prior to 20th December 2021. All entry fees must be paid by via a bank transfer.
<br><br>
<h5>How will I know if I am selected as a shortlist finalist?</h5>

You will be contacted directly. Shortlisted finalists will also be announced on the FIT Awards website on December 21st 2021.
<br><br>
<h5>Can I submit new information to my application once I have entered?</h5>

No, as judges may have already reviewed your application.
<br><br>
<h5>Can I enter more than one category?</h5>

Yes, as long as you meet the criteria for each category you are entering. You will need to complete a separate entry form and pay a separate entry fee for each category that you enter (where applicable).
<br><br>
<h5>Must the entry/entries be in English?
</h5>
Yes
<br><br>
<h5>Do I have to be an entrant or finalist to attend the Awards gala evening?
</h5>
Every and anyone is welcome!  In fact most attendees are going to see who will win, network with their industry peers and have a good time.
<br><br>
<h5>Who are the judges and how were they selected?
</h5>
The judging panel for all categories is made up of industry experts chosen for their skills and experience within Health and Fitness industry. They will not be revealed until the evening of the Awards. No members of the Sport360 team are on the judging panel or part of the judging process.
<br><br>
<h5>How are the entries judged?</h5>

We pride ourselves on our transparent, independent and unbiased judging process through which all shortlisted finalists will be evaluated by the panel of judges according to set judging criteria, and once all finalists have been evaluated the judges will convene to present and discuss the findings and place their final votes (Sport360X will be facilitators only and not directly involved in the judging process).
All judges sign a confidentiality agreement. i.e. Any information (including financial and membership figures) disclosed to them during the judging process remains completely confidential.
<br><br>
<h5>Will I get feedback on my application?</h5>
Whilst individual written feedback is not possible, if the judging panel feels there are themes that can be highlighted to all entrants this will be communicated to them.
<br><br>
<h5>Can I change or withdraw my entry after it has been submitted?</h5>

No
<br><br>
<h5>Will I get a refund if required?</h5>

No. The FIT Awards only issues a refund when the submitting company has overpaid or has been incorrectly charged.
<br><br>
<h5>I would like to submit an entry but the data corroborating its success is highly confidential. What can I do?
</h5>
Security and confidentiality are of paramount importance to the FIT Awards. All data and entry materials will be treated with the utmost confidentiality by the judges and management. All entries are stored in a secure place away from non-authorised personnel and shred after the Gala evening. Judges and those present throughout the judging are required to sign a Non-Disclosure Agreement.
<br><br>
     
{% endblock body %}</div>