{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Afla Fitness</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->   
   <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main 
    CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><img style="width:70px;"  src="media/log.png"><a href="/">Afla Fitness<span>.</span></a></h1>
     
      <!-- Uncomment below if you prefer to use an image logo-->
      {% comment %} <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"> {% endcomment %}

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
         
          
         
          <li class="dropdown"><a class="nav-link scrollto "> Membership Enroll <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/profile">View Profile</a></li>
              <li><a href="/join">Entroll</a></li>
              
              <li><a href="/attendance"> </a></li>
              
            </ul>
          </li>

          {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto" href="/signup">Signin</a></li>

         
           {% else %}
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
           {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if request.user.is_authenticated %}
      <a href="/" class="get-started-btn scrollto ml-3">Welcome</a>
      {% endif %}
     

    </div>
  </header><!-- End Header -->

   <!-- ======= Hero Section ======= -->



<section id="hero" <img src="C:\Users\LENOVO\OneDrive\Desktop\gymfitness\aflafitnes\media\g4.jpeg"> >
 
     
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="50">
        <div class="col-xl-6 col-lg-8">
          <h1>Start Now Stop Never <span>.</span></h1>
          <h2>Join AflaFitness</h2>
           
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="https://www.youtube.com/watch?v=Ost6UtXWTJg&pp=ygUKZ3ltIGJpY2Vwcw%3D%3D">Biceps | Triceps</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="https://www.youtube.com/watch?v=Uh0eXM45cFs&pp=ygURZ3ltIGJhY2sgZXhlcmNpc2U%3D">Back</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="https://www.youtube.com/watch?v=YlISf4U52t0&pp=ygUac2hvdWxkZXIgZXhlcmNpc2UgYW5pbWF0ZWQ%3D">Shoulder</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="https://www.youtube.com/watch?v=xtEFVrwZFGU&pp=ygUXY2hlc3QgZXhlcmNpc2UgYW5pbWF0ZWQ%3D">Chest</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="https://www.youtube.com/shorts/3Bzj8J3FUBU">Legs</a></h3>
           
          </div>
        </div>
      </div> 
     

    </div></div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="50">
            <img src="media/a1.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="50">
            <h3>About Us</h3>
            <p class="fst-italic">
              Train clients anywhere in the world with the most powerful coaching tools at your fingertips
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Training
                Build a custom training program in minutes</li>
              <li><i class="ri-check-double-line"></i> Habit Coaching
                Keep clients engaged and accountable</li>
              <li><i class="ri-check-double-line"></i>Nutrition
                Macro Tracking and Food Journal</li>
            </ul>
            <p>
              Aflafitness Gym Has Been The Authority In Fitness Since 1965 Dating Back To The Original Aflafitnesss Gym In Venice, California. It Was The Place For Serious Fitness. Opened Long Before The Modern-Day Health Club Existed, The Original Aflafitnesss Gym Featured Homemade Equipment And A Dedication To Getting Results. It Was<br> An Instant Hit. Aflafitnesss Gym Quickly Became Known As “The Mecca Of Bodybuilding.<br>
              ''In 1977, Aflafitnesss Gym Received International Attention When It Was Featured In The Movie Pumping Iron That Starred Arnold Schwarzenegger And Lou Ferrigno. From That First Gym In Venice, Aflafitnesss Gym Has Become The Largest Co-Ed Gym Chain In The World With Over 700+ Clubs In 27 Countries.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("media/a2.jpeg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100"><h3 style="font-weight:bold;">What Do We Do</h3>
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Decrease Calories in easiest way</h4>
              <p>Advanced, but no lifting required. Create a custom experience and rapidly grow your fitness tribe in 2021 and beyond!</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Packaged Training Programs</h4>
              <p>Build your body without any limitations and become a healthy person</p>
              
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Reducing blood pressure, diabetics</h4>
              <p>Say No to the slowing killing health problems. Reducing blood pressure, diabetics</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Make your body fit and healthy</h4>
              <p>Advanced technics and proper guidance will help you to make you body fit and healthy</p>
            </div>
          </div>
        </div>
  

      </div>
    </section>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
    
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="50">
            <img src="media/s1.jpeg" style="height:800px; width:900px;" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="50">
           <h3 style="font-weight:bold"> OUR VALUES</h3>
    For 20 years helping customers reach their fitness goals has been at the heart of what we do and why we do it! We live and breathe our six core values and four brand promises  — which speak of our commitment to our customers, staff, the industry and our business as a whole.
    
    
    <br><br><h5 style="font-weight:bold">Customer Service</h5>
    Customers are why we exist and we’re passionate about delivering exceptional, personalised customer service to all.
    <br><br>
    
    <h5 style="font-weight:bold">Communication</h5>
    We believe open, direct and supportive communication is the foundation of any successful organisation.
    <br><br>
    
    <h5 style="font-weight:bold">Nimbagility</h5>
    Invented by our company directors, Nimbagility reflects the ability to remain nimble and agile through lean, efficient actions.
    
    <br><br>
    <h5 style="font-weight:bold">Teamwork</h5>
    We’re committed to common goals, with effective communication and accountability making our team achieve greater results.
    
    <br><br>
    <h5 style="font-weight:bold">Be the change you seek</h5>
    We believe we should all take ownership and have the courage to lead change, creating a better experience for our people and the customers we serve.
    <br><br>
    
    <h5 style="font-weight:bold">Innovation</h5>
    To help turn our ideas into reality, we embrace a culture of creative innovation in our people, processes and products.
          </div>
        </div>   </div>
    </section>
    <div>
       
        </div>
    <!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <center><iframe width="60%" height="315" src="https://www.youtube.com/embed/cNuJ4oetecY?si=oc0mLlc7sfT-TZVu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
          <br><h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="https://hevycoach.com/">Build and Deliver Workout Programs in Minutes</a></h4>
              <p>Design any workout you can dream of using the fastest drag-and-drop builder on the market</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="https://www.verywellfit.com/sample-workout-schedule-1230758">Choose Any Workout Format</a></h4>
              <p>Create workouts with a combination of exercises, supersets, interval training, AMRAP, and timed routines.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="https://darebee.com/modifications.html">Alternate Exercises</a></h4>
              <p>Provide a variety of options to challenge clients of all levels or work around any limitations.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="https://help.everfit.io/en/articles/3060080-program-workouts-using-1rm-tracking-auto-progression">%1RM Auto Progression</a></h4>
              <p>Program using percentage-based training to automatically calculate and assign weights for your clients</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="https://developer.android.com/health-and-fitness/guides/health-services/active-data">Advanced Exercise Tracking Fields</a></h4>
              <p>Go beyond weight and reps. Provide guidance using RPE, cadence, speed, heart rate, and more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="https://www.salesforce.com/platform/drag-and-drop-app-builder/">Lightning Fast Drag-and-Drop Interface</a></h4>
              <p>Rapidly build workouts from your library of exercises or saved workout sections, and rearrange with ease.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    
    <!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
      
        <div class="text-center">
          <h3>Create Multi-Week Training Program </h3><img src="media/a3.jpeg">
          <p> WEEK1
            Day 1:Lower Body Workout
            
            Day 2:Push Workout
            
            Day 3:Pull Workout
            <br>
            <br>
            WEEK2
            Day 4:Full Body Cardio
            
            Day 5:Squat, Press, Deadlift
            
            Day 6:Lower Body EMOM.</p>
          <a class="cta-btn" href="/login">Try Free Trail</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <img style=" width:400px; height:400px;" src="media/a4.webp">
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Provide Instant
                Feedback and Motivation</h3>
              <p>
                Receive instant client ratings after each workout session to provide insight for future programming.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Happy Clients</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Projects</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Years of experience</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Awards</strong> </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Elevate Your Fitness Journey at AflaFitness
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Trainer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  In the rapidly evolving fitness landscape, staying ahead is crucial. Occasionally, transformative technological waves
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Joiner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Elevate Your Fitness Journey at AflaFitness
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Trainer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Strength, Sweat, Success – Join Us at AflaFitness
                 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Unleash Your Inner Beast at Aflafitness
                 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="media/t2.webp" class="img-fluid" alt=""style="height:200px; width:250px">
                <div class="social">
            
                  <a href="https://www.instagram.com/gymandfitness/?hl=en" ><i class="bi bi-instagram"></i></a>
                 
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span> Manager</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="media/t1.jpeg" class="img-fluid" alt=""style="height:200px; width:250px">
                <div class="social">
                 
                  <a href="https://www.instagram.com/gymandfitness/?hl=en" ><i class="bi bi-instagram"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Trainer</span>
              </div>
            </div>
          </div>

         
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="media/t3.webp" class="img-fluid" alt=""style="height:200px; width:250px">
                <div class="social">
                  
                  <a href="https://www.instagram.com/gymandfitness/?hl=en" ><i class="bi bi-instagram"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah</h4>
                <span>Trainer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="media/t4.webp" class="img-fluid" alt="" style="height:200px;width:250px">
                <div class="social">
                 
                  <a href="https://www.instagram.com/gymandfitness/?hl=en" ><i class="bi bi-instagram"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Trainer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
   
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p href="/contact"> Google Map</p>
        </div>

        <div>
          <iframe style="width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49264.35502513577!2d-106.10484355970105!3d39.491413558927576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876af63d6c26e7c1%3A0x628d8f7f6680a27a!2sBreckenridge%2C%20CO%2080424%2C%20USA!5e0!3m2!1sen!2sin!4v1723999074285!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

              </div>

            </div>
           
         

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>AFLAFITNESS<span>.</span></h3>
              <p>
                Financial District,Jersal city<br>
               5350229, Newyork<br><br>
                <strong>Phone:</strong> +499995232246<br>
                <strong>Email:</strong> aflafitness@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                
                <a href="https://www.facebook.com/groups/262681228448/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/gymandfitness/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
                
                <a href="https://www.linkedin.com/company/the-gym" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
           
              <li><i class="bx bx-chevron-right"></i> <a href="/enroll">Enrollment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/gallery">Gallery</a></li>

            </ul>
          </div>

    

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>AI in Fitness Coaching: A Deep Dive into Real-World Use Cases
              The fitness world is undergoing a remarkable transformation</p>
            
             <a href="https://athletechnews.com/the-most-innovative-fitness-wellness-companies-of-2023/"><h2> View Newsletter</h2></a>
             
           

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Aflafitness</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Aflafitness</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <script src="static/assets/js/main.js"></script>



    <!-- Your existing content -->

    <!-- WhatsApp Button -->
    <a href="https://wa.me/99954547785" class="whatsapp-button" style="position: fixed; bottom: 80px; right: 20px; background-color: #25D366; border-radius: 50%; width: 60px; height: 60px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); z-index: 1000;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 32px; height: 32px; margin-top: 14px; display: block; margin-left: auto; margin-right: auto;">
  </a>


  
</body>

</html>